<h1 class="mb-4">Your Lists</h1>

<%= link_to 'Create a new list', new_list_path, class: 'btn btn-success mb-3' %>

<div class="row">
  <% @lists.each do |list| %>
    <div class="col-md-4 mb-4">
      <div class="card shadow-sm h-100">
        <% if list.image_url.present? %>
          <%= image_tag list.image_url, class: "card-img-top", alt: "#{list.name} image" %>
        <% else %>
          <%= image_tag "default.jpg", class: "card-img-top", alt: "Default image" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= list.name %></h5>
          <%= link_to "View list", list_path(list), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
